In [75]:
import re
import unidecode
import geonamescache
import pandas as pd

In [25]:
gc = geonamescache.GeonamesCache()
cities = gc.get_cities()
countries = gc.get_countries()

In [64]:
cityRegexString = r'(?P<city>\b('
first = True
for city in cities.values():
    if first:
        cityRegexString += unidecode.unidecode(city['name'])
        first = False
    else:
        cityRegexString += '|' + unidecode.unidecode(city['name']) 

cityRegexString += r')\b)'

countryRegexString = r'(?P<country>\b('

for country in countries.values():
    countryRegexString += unidecode.unidecode(country['name']) + '|'

countryRegexString += r')\b)'

cityRegexp = re.compile(cityRegexString) 
countryRegexp = re.compile(countryRegexString)

In [98]:
file = open("data/headlines.txt", 'r')
headlinesArr = []
cityArr = []
countryArr = []

bigArr = []

for line in file.readlines():
    headlinesArr.append(line)
    
    wtf = [line]

    cityResult = cityRegexp.search(line)
    if cityResult:
        wtf.append(line[cityResult.span()[0]:cityResult.span()[1]])
    else:
        wtf.append(None)

    countryResult = countryRegexp.search(line)  
    if countryResult:
        wtf.append(line[countryResult.span()[0]:countryResult.span()[1]])
    else: 
        wtf.append(None)
        
    bigArr.append(wtf)
    
df = pd.DataFrame(bigArr, columns=['Healine', 'City', 'Country'])
print(df)

                                               Healine           City Country
0                           Zika Outbreak Hits Miami\n          Miami
1                    Could Zika Reach New York City?\n  New York City
2                  First Case of Zika in Miami Beach\n          Miami
3            Mystery Virus Spreads in Recife, Brazil\n         Recife
4            Dallas man comes down with case of Zika\n         Dallas
..                                                 ...            ...     ...
645  Rumors about Rabies spreading in Jerusalem hav...      Jerusalem
646            More Zika patients reported in Indang\n         Indang
647  Suva authorities confirmed the spread of Rotav...           Suva
648       More Zika patients reported in Bella Vista\n    Bella Vista
649                   Zika Outbreak in Wichita Falls\n        Wichita

[650 rows x 3 columns]

In [82]:
df.head()

Empty DataFrame
Columns: [Headline, City, Country]
Index: []